.boxUnset {
  height: 20px;
  width: 20px;
  background: red;
}
.boxUnset:hover {
  height: 45px;
  width: 45px;
}

.boxUnset2 {
  height: 20px;
  width: 20px;
  background: red;
}
.boxUnset2:hover {
  background: blue;
}

.boxUnset3 {
  height: 20px;
  width: 20px;
  background: red;
}
.boxUnset3:hover {
  transform: translateX(100%);
}

.boxset {
  height: 20px;
  width: 20px;
  background: red;
  transition: 1s;
}
.boxset:hover {
  height: 45px;
  width: 45px;
}

.boxset2 {
  height: 20px;
  width: 20px;
  background: red;
  transition: 1s;
}
.boxset2:hover {
  background: blue;
}

.boxset3 {
  height: 20px;
  width: 20px;
  background: red;
  transition: 1s;
}
.boxset3:hover {
  transform: translateX(100%);
}

.spin {
  border-radius: 40%;
  width: 50px;
  height: 50px;
  background: red;
  animation: demo-spin 1s linear infinite;
}

@keyframes demo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stateBall {
  overflow: hidden;
  position: relative;
  padding: 5px;
  border: 3px solid #3c9;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background-color: #fff;
}
.stateBall::before,
.stateBall::after {
  position: absolute;
  left: 50%;
  bottom: 5px;
  z-index: 9;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  content: "";
}
.stateBall::before {
  border-radius: 45%;
  background-color: rgba(255, 255, 255, 0.5);
  animation: rotate 10s linear -5s infinite;
}
.stateBall::after {
  border-radius: 40%;
  background-color: rgba(255, 255, 255, 0.8);
  animation: rotate 15s infinite;
}
.trans::before {
  margin-bottom: 154px;
  transition: 1.5s ease-out;
}
.trans::after {
  transition: 1.5s ease-out;
  margin-bottom: 162px;
}
.stateBall .wave {
  position: relative;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #af8 13%, #3c9 91%);
}
.stateBall .progress::after {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 16px;
  color: #09f;
  content: counter(progress) "%";
  counter-reset: progress var(--offset);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stateBall {
  overflow: hidden;
  position: relative;
  padding: 5px;
  border: 3px solid #3c9;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background-color: #fff;
}
.stateBall .wave {
  position: relative;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #af8 13%, #3c9 91%);
}
.stateBall .progress::after {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 16px;
  color: #09f;
  content: counter(progress) "%";
  counter-reset: progress var(--offset);
}

.stateBall::before,
.stateBall::after {
  position: absolute;
  left: 50%;
  bottom: 5px;
  z-index: 9;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  content: "";
}
.stateBall::before {
  border-radius: 45%;
  background-color: rgba(255, 255, 255, 0.5);
}
.stateBall::after {
  border-radius: 40%;
  background-color: rgba(255, 255, 255, 0.8);
  animation: rotate 10s linear -5s infinite;
}
.trans::before {
  margin-bottom: 154px;
  transition: 1.5s ease-out;
  animation: rotate 15s infinite;
}
.trans::after {
  transition: 1.5s ease-out;
  margin-bottom: 162px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
